---
http_interactions:
- request:
    method: get
    uri: https://jackxxu.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="McWpDdWUtnYN6hjiRWvb", oauth_nonce="mZT6eOb54MiNST6hDvykHki63Dt5CzGxma4V7WjRbvk",
        oauth_signature="ai9X32VUj8dF7TTOFfs3ke%2BMlG4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389934622", oauth_token="SpVc2bt8OyZSRBUIqf1I", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f357b1830d5c4f19777b734ee5b8d24f"'
      status:
      - 200 OK
      x-appversion:
      - '15.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '57'
    body:
      encoding: UTF-8
      string: '{"total_entries":17,"_links":{"self":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"name":"Abandoned
        Chats","description":"Abandoned Chats","enabled":true,"types":["case","macro"],"color":"default","_links":{"self":{"href":"/api/v2/labels/1622450","class":"label"}}},{"name":"Escalated","description":"Escalated","enabled":true,"types":["case","macro"],"color":"default","_links":{"self":{"href":"/api/v2/labels/1622449","class":"label"}}},{"name":"Example","description":"Example","enabled":true,"types":["case"],"color":"default","_links":{"self":{"href":"/api/v2/labels/1622447","class":"label"}}},{"name":"Feedback","description":"Feedback","enabled":true,"types":["case","macro"],"co[...]
