---
http_interactions:
- request:
    method: post
    uri: https://jackxxu.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: '{"name":"test 22","description":"test","enabled":"1","color":"default"}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth oauth_body_hash="DkVme3FrEQaKWOIoBDV9B%2B1KFqc%3D", oauth_consumer_key="McWpDdWUtnYN6hjiRWvb",
        oauth_nonce="fbB8UVT3CI8zJZwtXxxNqbLrCa9UeupBYeQ7eORw", oauth_signature="c%2Bn2iCUFVksSyhyRJckkQ4EHlp0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389934016", oauth_token="SpVc2bt8OyZSRBUIqf1I",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"17ab7ca588f9884898f07a3fb96130fc"'
      location:
      - https://jackxxu.desk.com/api/v2/labels/1630536
      status:
      - 201 Created
      x-appversion:
      - '15.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '3'
    body:
      encoding: UTF-8
      string: '{"name":"test 22","description":"test","enabled":true,"types":["case","macro"],"color":"default","_links":{"self":{"href":"/api/v2/labels/1630536","class":"label"}}}'
  recorded_at: Fri, 17 Jan 2014 04:46:57 GMT
- request:
    method: get
    uri: https://jackxxu.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="McWpDdWUtnYN6hjiRWvb", oauth_nonce="90UU3FK7dfyRWB6GjmOtvlC5w4b8x7WhV3vlxbGZC0",
        oauth_signature="q%2BLhTz00LAaaWPwP9Sjm9tQVNhY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389934019", oauth_token="SpVc2bt8OyZSRBUIqf1I", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fd8423fb623b7cfc446060d9769a9425"'
      status:
      - 200 OK
      x-appversion:
      - '15.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"total_entries":10,"_links":{"self":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"name":"Inbox","sort_field":"updated_at","sort_direction":"desc","position":1,"active":true,"_links":{"self":{"href":"/api/v2/filters/1843670","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/1843670/cases","class":"case"}}},{"name":"All
        Cases","sort_field":"updated_at","sort_direction":"desc","position":2,"active":true,"_links":{"self":{"href":"/api/v2/filters/1843671","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/1843671/cases","class":"case"}}},{"name":"My
        Cases","sort_field":"updated_at","sort_direction":"desc","position":3,"active":true,"_links":{"self":{"href":"/api/v2/filters/1843672","class":"filter"},"gro[...]
- request:
    method: get
    uri: https://jackxxu.desk.com/api/v2/filters/1843670/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="McWpDdWUtnYN6hjiRWvb", oauth_nonce="giUWHPIe7CQzYkwvt1IgiQH8gQ4r7Z3oOlBQFqwWXrs",
        oauth_signature="fiLYTGuZ1xD4FMSpC3eZ3TlCeaA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389934020", oauth_token="SpVc2bt8OyZSRBUIqf1I", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fa3d902b4235c6613e878d14ac2f8d4c"'
      status:
      - 200 OK
      x-appversion:
      - '15.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '59'
    body:
      encoding: UTF-8
      string: '{"total_entries":2,"_links":{"self":{"href":"/api/v2/filters/1843670/cases?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters/1843670/cases?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters/1843670/cases?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":1,"external_id":null,"blurb":"Thanks
        for trying Desk.com. We hope your trial goes well and you decide to use Desk.com
        to wow your customers. Please let us know if there is anything we can do to
        make your experience better. In the meantime see the tips below for getting
        started...","subject":"Welcome to Desk.com","priority":4,"locked_until":null,"description":null,"status":"open","type":"email","labels":["Example","name","tes
        5","test 1 ","test 21","test 32","test 4"],"language":"en","active_at":"2014-01-12T23:46:26Z","created_at":"2014-01-11T21:17:34Z","updated_at":"2014-01-17T04:46:02Z","received_at":"2014-01-11T21:17:34Z","first_opened_at":"2014-01-12T23:46:26Z","opened_at":"2014-01-12T23:46:26Z","first_resolved_at":null,"resolved_at":null,"custom_fields":{},"_links":{"self":{"href":"/api/v2/cases/1","class":"case"},"message":{"href":"/api/v2/cases/1/message","class":"email"},"customer":{"href":"/api/v2/customers/146598602","class":"customer"},"assigned_user":{"href":"/api/v2/users/21672882","class":"user"},"assigned_group":{"href":"/api/v2/groups/383770","class":"group"},"locked_by":null,"replies":{"href":"/api/v2/cases/1/replies","class":"reply"},"draft":{"href":"/api/v2/cases/1/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/1/notes","class":"note"},"attachments":{"href":"/api/v2/cases/1/attachments","class":"attachment"}}},{"id":2,"external_id":null,"blurb":"Desk.com
        is a single place to keep track of all your customers online correspondence
        (email, chats), social media conversation (Facebook, Twitter), and offline
        contacts (phone).\n\nRECORD PHONE - In the upper right there is a New Case
        button, this is h","subject":"Welcome to Desk.com","priority":9,"locked_until":null,"description":null,"status":"new","type":"phone","labels":["Example"],"language":"en","active_at":null,"created_at":"2014-01-11T21:17:34Z","updated_at":"2014-01-11T21:17:34Z","received_at":"2014-01-11T21:17:34Z","first_opened_at":null,"opened_at":null,"first_resolved_at":null,"resolved_at":null,"custom_fields":{},"_links":{"self":{"href":"/api/v2/cases/2","class":"case"},"message":{"href":"/api/v2/cases/2/message","class":"phone"},"customer":{"href":"/api/v2/customers/146598602","class":"customer"},"assigned_user":{"href":"/api/v2/users/21672882","class":"user"},"assigned_group":{"href":"/api/v2/groups/383770","class":"group"},"locked_by":null,"replies":{"href":"/api/v2/cases/2/replies","class":"reply"},"draft":{"href":"/api/v2/cases/2/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/2/notes","class":"note"},"attachments":{"href":"/api/v2/cases/2/attachments","class":"attachment"}}}]}}'
  recorded_at: Fri, 17 Jan 2014 04:47:01 GMT
- request:
    method: put
    uri: https://jackxxu.desk.com/api/v2/cases/1
    body:
      encoding: UTF-8
      string: '{"labels":["Example","name","tes 5","test 1 ","test 21","test 32","test
        4","test 22"]}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth oauth_body_hash="HhGLRF7NiXz4i%2Fc31zbhCFTi4ys%3D", oauth_consumer_key="McWpDdWUtnYN6hjiRWvb",
        oauth_nonce="VvFKuY9swyA80mdR4Yn5l4flQu7Kj2nzNEjTb8zFVo", oauth_signature="IIPFr5zCNw[...]
