---
http_interactions:
- request:
    method: post
    uri: https://jackxxu.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: '{"name":"test 22","description":"test","enabled":"1","color":"default"}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth oauth_body_hash="DkVme3FrEQaKWOIoBDV9B%2B1KFqc%3D", oauth_consumer_key="McWpDdWUtnYN6hjiRWvb",
        oauth_nonce="Bf1jRZoZackt1nNhnxG7stP3mCAKu5zRDqgGykI", oauth_signature="W1pD5F43Gn%2FrCYIBhHftMEqtx20%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1389934098", oauth_token="SpVc2bt8OyZSRBUIqf1I",
        oauth_version="1.0"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 422 Unprocessable Entity
      x-appversion:
      - '15.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '41'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":{"name":["taken"]}}'
  recorded_at: Fri, 17 Jan 2014 04:48:19 GMT
recorded_with: VCR 2.8.0
