---
http_interactions:
- request:
    method: get
    uri: https://jackxxu.desk.com/api/v2/cases/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="McWpDdWUtnYN6hjiRWvb", oauth_nonce="CoyA8X1HmqH3OiHuSP5V9Zsh6thFnzrYrIxj8mz6s",
        oauth_signature="Z5o6ZQSJv4BxNxWsCdg0blaKK9o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389932462", oauth_token="SpVc2bt8OyZSRBUIqf1I", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3702a357850ee25ac15edc3bc95ccf8a"'
      status:
      - 200 OK
      x-appversion:
      - '15.9'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '57'
    body:
      encoding: UTF-8
      string: '{"id":1,"external_id":null,"blurb":"Thanks for trying Desk.com. We
        hope your trial goes well and you decide to use Desk.com to wow your customers.
        Please let us know if there is anything we can do to make your experience
        better. In the meantime see the tips below for getting started...","subject":"Welcome
        to Desk.com","priority":4,"locked_until":null,"description":null,"status":"open","type":"email","labels":["Example","tes
        5","test 1 ","test 32","test 4"],"language":"en","active_at":"2014-01-12T23:46:26Z","created_at":"2014-01-11T21:17:34Z","updated_at":"2014-01-17T04:04:00Z","received_at":"2014-01-11T21:17:34Z","first_opened_at":"2014-01-12T23:46:26Z","opened_at":"2014-01-12T23:46:26Z","first_resolved_at":null,"resolved_at":null,"custom_fields":{},"_links":{"self":{"href":"/api/v2/cases/1","class":"case"},"message":{"href":"/api/v2/cases/1/message","class":"email"},"customer":{"href":"/api/v2/customers/146598602","class":"customer"},"assigned_user":{"href":"/api/v2/users/21672882","class":"user"},"assigned_group":{"href":"/api/v2/groups/383770","class":"group"},"locked_by":null,"replies":{"href":"/api/v2/cases/1/replies","class":"reply"},"draft":{"href":"/api/v2/cases/1/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/1/notes","class":"note"},"attachments":{"href":"/api/v2/cases/1/attachments","class":"attachment"}}}'
  recorded_at: Fri, 17 Jan 2014 04:21:03 GMT
recorded_with: VCR 2.8.0
